.navContainer {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(61, 61, 61);
    padding: 1rem;
    left:0;

}
a {
    padding: 2rem;
    text-decoration: none;
    color: white;
    font-weight: 600;
    
    
}
a:hover {
    border:1px solid white;
}