.container {
box-sizing: border-box;
border: 1px solid black;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  width: 100%;
  font-size: 1.2rem;
}

.formgrid {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 60%;
    border: 1px solid red;;
}

.formSt {
    margin: 1rem;
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

input {
display: flex;
flex-direction: column;
width: 65%;
height: 1.5rem;
}

select {
    height: 2rem;
    display: block;
    width: 67%;
    
}

.sideCart {
    display: flex;
    flex-direction: column;
    width: 40%;
    border: 1px solid red;;
}
.creditGrid {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.creditGrid input {
    display: flex;
    flex-direction: column;
}

.checkout {
    height: 50px;
    width: 40%;
}