
  

.container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.photos {
    height: 150px;
    max-height: 175px;
    width: 200px;
    max-width: 200px;
    border-radius: 1rem;
    margin: 1rem;
}
a {
    text-decoration: none;
    
}

a:hover {
    opacity: .8;
}

h1 {
    margin-left: 2rem;
    color: rgb(71, 71, 71);
}